*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    line-height: 1;
}

input, button, textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
}

a, a:visited, a:hover {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------*/

body {
    font-family: Rubik;
    font-size: 12px;
    color: #616161;

    --blue: #4285F4;
    --blue-h: #3675db;
    --red: #EC5863;
    --red-h: #e0444f;
    --light-grey: #B0B0B0;
    --white: #FCFDFE;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    max-width: 1057px;
    margin: 0 auto;
}

.red {
    color: var(--red);
}

.blue {
    color: var(--blue);
}

.main {
    max-height: 700px;
}


/*+ Header */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
}

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__item {
    margin-left: 5px;

    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    color: black;
}

.header__nav {
    flex: 1 1 auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px 0 0;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 40px;
}

.nav__link {
    font-family: Raleway;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.14em;
    text-align: left;
    color: black;
    text-transform: uppercase;
}

.header__button {
    display: flex;
    flex: 0 0 252px;
    justify-content: flex-end;
}

.button {
    display: inline-block;
    padding: 14px 30px;

    font-family: Raleway;
    font-size: 10px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.14em;
    text-align: left;
    text-transform: uppercase;
    color: var(--white);

    border-radius: 5px;
    background-color: var(--red);
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: var(--red-h);
}

.button__blue {
    background-color: var(--blue);
}

.button__blue:hover {
    background-color: var(--blue-h);
}


/*+ Take care */

.take-care {
    max-width: 1050px;
    margin: 0 auto;

    padding-bottom: 58px;
    padding-top: 76px;

    display: flex;
    flex-direction: column;
}

.take-care__main {
    margin-bottom: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.take-care__info {}

.take-care__text {
    margin-bottom: 24px;
}

.take-care__title {
    margin-bottom: 12px;

    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    text-align: left;
    color: black;
}

.take-care__subtitle {
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: left;
}

.take-care__button button {
    padding: 14px 30px;

    text-transform: uppercase;
    color: white;

    border-radius: 5px;
    background-color: var(--red);
}


.take-care__video {
    display: flex;
    align-items: center;
}

.take-care__video-text {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.take-care__video-title {
    margin-bottom: 5px;

    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--light-grey);
}

.take-care__watch {
    font-size: 9px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.165em;
    text-align: left;
    color: black;
    text-transform: uppercase;
}

.take-care__rectangle {
    width: 300px;
    height: 700px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    background-color: var(--red);
    border-radius: 30px 0px 0px 30px;
}