body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

hr{
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;
    
    border: 0;
    background-color: #e5e5e5;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /*выравниваем по центру*/
}



/***************** INTRO *****************/

.intro {
    /*выравниваем большое лого по центру блока, заполненного картинкой*/
    display: flex;
    flex-direction: column; /* Направление, в котором блоки будут располагаться вертикально */
    justify-content: center; /*выравниваем по центру*/

    width: 100%;
    height: 100vh;/*vh??*/
    background: 
    /*почему 2 точки??*/
    url(../images/intro.jpg) center no-repeat;
    background-size: cover; /*занимает всю площадь экрана*/
}

.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto; /*выравниваем по центру*/

    text-align: center; /*выравниваем все по центру*/
}

.intro__title{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

/*используем псевдоэлемент для декоративного блока*/
.intro__title:after{ /*after вставляет этот элемент после большого лого*/
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto; /*выравниваем по центру*/ /*отступы сверху слева-справа снизу*/

    background-color: #fff;
}

.intro__suptitle{
    margin-bottom: 20px;
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
}

/**************** HEADER ****************/

.header{
    width: 100%;
    padding-top: 30px; /*отступ сверху*/

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /*расположили поверх всего контента*/
}

.header__inner{
    /*чтобы навигация и лого были по обе стороны*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/***************** NAV *****************/

.nav{
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block; /*чтобы шли в строку*/
    vertical-align: top;
    margin: 0 15px; /*(слева и справа) чтобы не прилегали друг к другу*/
    position: relative; /*родитель для after*/

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear; /*для плавного изменения цвета*/
}

.nav__link:after{
    /*рисуем блок - линию под ссылками навигации*/
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    /*display: none;/*Временно удаляет элемент из документа*/

    background-color: #fce38a;
    opacity: 0; 

    position: absolute;/*позиционируем относительно родителя*/
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear; /*для плавного перехода для свойства opacity*/
}

.nav__link:hover{
    color: #fce38a;
}

.nav__link:hover:after,  /*полоса будет отображаться при наведении*/
.nav__link.active::after /*и при активном состоянии*/
{
    /*display: block; /*отображает линию при наведении*/
    opacity: 1; /*для плавного перехода*/
}

.nav__link.active{
    color: #fce38a;
}

/***************** BUTTON *****************/

.btn{
    display: inline-block;/*Размер по содержимому, Элемент прямоугольный, Работают свойства width/height*/
    vertical-align: top; /*выравнивание внутри внешнего блока*/
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; /*убираем подчеркивание ссылки*/

    transition: background 0.1s linear, /*анимация при наведении*/
    color 0.1s linear;
}

.btn:hover{ /*при наведении*/
    background-color: #fff;
    color:#333;
}

/***************** SLIDER *****************/

/*главный элемент, используется для позиционирования элементов слайдера*/
.slider{
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner{
    /*расположили элементы рядом, а не под*/
    display: flex;
    justify-content: space-between;
}

.slider__item{
    width: 23%;
    padding: 20px 0;
    position: relative; /*для позиционирования красной полоски*/

    border-top: 3px solid #fff; /*делаем полоски*/
    opacity: 0.7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active{
    opacity: 1;
}

/*красная полоска на активном слайде*/
.slider__item.active::before{
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

    background-color: #f38181;
}

.slider__num{
    font-size: 24px;
    font-weight: 700;
}




/* SECTION */

.section{
    padding: 80px 0;
}

.section--devices{ 
    margin-bottom: 40px; /*отступ от девайсов*/
    padding-bottom: 0; /*картинка прижимается к низу блока*/
    background: url(../images/map-bg.jpg) center no-repeat;
    background-size: cover; /*фон, масштабируется как можно больше c сохранением пропорций*/
}

.section--gray{
    background-color: #f8f8f8;
}

.section__header{
    width: 100%;
    max-width: 950px; /*перекрывает width*/
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;

    background-color: #f38181;
}

.section__text{
    color: #999;
    font-size: 15px;
}




/* CARD */

.card{
    margin-top: 80px;
    display: flex;
    justify-content: space-between; /*раздвигаем блоки*/
}

.card__item{
    width: 380px;
}

.card__inner{
    position: relative; /*чтобы позиционировать текст поверх картинки*/
    background-color: #95e1d3; /*цвет фона при сдвиге картинки*/
}

/*двигаем картинку (контейнер about__image)*/
.card__item:hover .card__image{
    transform: translate3d(-10px, -10px, 0); /*лучше для производительности/плавности*/
}

/*затемняем картинку при наводе*/
.card__item:hover .card__image img{
    opacity: 0.1;
}

/*показываем текст при наводе*/
.card__item:hover .card__text{
    opacity: 1;
}

.card__image{
    /*делаем градиент сверху-вниз*/
    background: linear-gradient(to bottom, #f38181, #fce38a);

    transition: transform 0.2s linear; /*для плавности сдвига*/
}

.card__image img{
    display: block; /*чтобы не было видно желтой полосы от слоя с градиентом*/
    transition: opacity 0.1s linear;
}

.card__text{
    width: 100%; /*необходимо для position, чтобы текст отобразился по центру*/

    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;

    position: absolute; /*позиционируем по центру относительно about__item*/
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity 0.2s linear; /*для плавного перехода при наводе*/
}




/* statistics */

.statistics{
    background-color: #95e1d3;
}

.stat{
    display: flex;
}

.stat__item{
    flex: 1 1 0; /*делаем все колонки одинаковой ширины*/
    padding: 70px 25px;

    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}

/*линия для последнего элемента*/
.stat__item:last-child{
    border-right: 1px solid #b5eae0;
}

.stat__count{
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text{
    font-size: 14px;
    text-transform: uppercase;
}




/* SERVICES */

.services{
    display: flex;
}

.services__item{
    flex: 1 1 0; /*делаем все колонки одинаковой ширины*/

    padding-left: 85px;
    padding-right: 35px;
    position: relative; /*для расположения иконки*/
}

.services__icon{
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title{
    margin-bottom: 10px; /*отступ заголовка от текста*/

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services__text{
    font-size: 15px;
    color: #999
}




/* DEVICES */

.devices{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative; /*для позиционирования айфона*/
}

.devices__item{
    display: block;
}

.devices__item--iphone{
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}


/* WE DO */

.wedo{
    display: flex;
}

.wedo__item{
    width: 50%;
}


/* ACCORDION */

.accordion__item{
    margin-bottom: 10px; /*разделяем блоки аккордиона*/
    border: 1px solid #e5e5e5;
}

.accordion__item.active /*если активный блок, показываем*/
.accordion__content
{
    display: block;
}

.accordion__item.active 
.accordion__header
{
    border-bottom: 1px solid #e5e5e5; /*цветная граница только у активного блока*/
    /*в видео нет части с 1px solid*/
}

.accordion__item.active /*у active псевдоэлемент after у блока header меняется отображение*/
.accordion__header:after
{
    transform: translateY(-50%) /*подровнять по центру*/
    rotate(-45deg);
    margin-top: 5px; /*чтобы было по центру (из-за иллюзии восприятия)*/
}

.accordion__header{
    padding: 15px 20px 15px 65px;
    position: relative; /*чтобы выровнять иконку относительно шапки*/
    
    border-bottom: 1px solid transparent; /*у границы прозрачный цвет по умолчанию*/
    cursor: pointer; /*для отображения кликабельности*/
}

.accordion__header:after{ /*делаем стрелочку*/
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;    /*хотя в видео left*/
    z-index: 1;
    
    transform: translateY(-50%) /*подровнять по центру*/
    rotate(135deg); /*по умолчанию стрелка смотрит вниз*/
}

.accordion__icon{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
    
    transform: translateY(-50%); /*подровнять по центру*/
}

.accordion__content{
    padding: 15px 20px;
    display: none; /*блок пока скрыт*/
    
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.accordion__title{
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}



/* REVIEWS */

.reviews{
    position: relative; /*чтобы позиционировать стрелки*/
    padding: 0 110px;
}

.reviews__item{
    padding-left: 205px;
    position: relative; /*чтобы фото позиционировалось отн-но этого блока*/
}

.reviews__photo{
    border: 2px solid #95e1d3;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text{
    margin-bottom: 15px; /*отделяем текст от автора*/
    
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}

.reviews__author{
    font-size: 24px;
    color: #333;
    font-family:  'Kaushan Script', cursive;;
}

.reviews__author::before{ /*полоска перед именем автора*/
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.reviews__btn{ /*общий стиль для кнопки-стрелочки*/
    /*скрываем текст в кнопках*/
    font-size: 0;
    color: transparent;
    
    position: absolute;
    top: 50%;
    z-index: 1px;
    transform: translateY(-50%);
}

.reviews__btn:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;    /*хотя в видео left*/
    z-index: 1;
}

.reviews__btn--prev{    /*размещаем стрелки*/
    left: 0;    /*слева*/
    transform: rotate(-45deg);
}

.reviews__btn--next{
    right: 0;   /*и справа*/
    transform: rotate(135deg);
}


/* SOCIAL */

.social{
    display: flex;
    justify-content: center; /*тк сам блок уже выровнен по середине с помощью margin(?)*/
}

.social__item{
    /*получаем блоки иконок одинакового размера*/
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    
    background-color: #fce38a;
    background-repeat: 1px solid #f38181;

    font-size: 30px; /*так можно увеличить размер иконок*/
    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background 0.1s linear,
    color 0.1s linear;
}

.social__item:last-child{/*убираем границу у последней иконки*/
    border-right: none;
}

.social__item:hover{
    color: #fff;
    background-color: #f38181;
}



/* FOOTER */

.footer{
  color: f8f8f8;
  padding-top: 65px;
}