body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border-top: 1px solid rgb(194, 209, 221);
}

/*+ button popups */

.container {
    margin: 130px auto;
    max-width: 550px;

    display: flex;
    flex-wrap: wrap;

    font-family: sans-serif;

    --white-col: rgb(238, 249, 252);
    --fb-col: #3b5999;
    --tw-col: #46c1f6;
    --inst-col: #e1306c;
    --gh-col: #333333;
    --yt-col: #de463b;

    --shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.icon {
    margin: 20px;
    position: relative;

    width: 70px;
    height: 70px;

    background-color: var(--white-col);
    border-radius: 50%;
    border: none;
    box-shadow: var(--shadow);

    font-size: 27px;

    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover {
    color: aliceblue;
}

.popup {
    position: absolute;
    opacity: 0;

    width: 100px;
    height: 35px;
    top: 0;
    left: -25%;

    border-radius: 6px;
    box-shadow: var(--shadow);

    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;

    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* transition: all 0.2s ease-in-out; */
}

.popup::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;

    top: 28px;
    /* благодаря этому */
    left: 50%;

    /* и транслейту */
    /* выровняли псевдоэл по середине */
    transform: translate(-50%) rotate(45deg);
}

.icon:hover .popup {
    opacity: 1;
    top: -50px;
}


.facebook:hover,
.facebook:hover .popup,
.facebook:hover .popup::after {
    background-color: var(--fb-col);

}

.twitter:hover,
.twitter:hover .popup,
.twitter:hover .popup::after {
    background-color: var(--tw-col);

}

.instagram:hover,
.instagram:hover .popup,
.instagram:hover .popup::after {
    background-color: var(--inst-col);

}

.github:hover,
.github:hover .popup,
.github:hover .popup::after {
    background-color: var(--gh-col);

}

.youtube:hover,
.youtube:hover .popup,
.youtube:hover .popup::after {
    background-color: var(--yt-col);

}